<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=H, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="m-4"> EDITS </h1>
        <form action="/blog/edit/<%= blog.id %>" method='POST'>
            <div class="form-group m-4">
                <label for="title">Title</label>
                <input required value="<%= blog.title %>" type="text" class='form-control' name='title' id="title">

                <label for="description">Description</label>
                <input required value="<%= blog.description %>" type="text" class='form-control' name='description' id="description">

                <label for="content">Content</label>
                <textarea required type="text" class='form-control' name='content' id="content"><%= blog.content %></textarea>
                
                <a href="/blog/<%= blog.id %>" class="btn btn-danger">Cancel</a>
                <button type="submit" class="btn btn-primary my-3">Save</button>
            </div>
        </form>
    </div>
</body>
</html>