<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=H, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="m-4">
            <h1><%= blog.title %></h1>
            <small class="text-muted"><%= blog.createdAt.toLocaleDateString() %></small><br>
            <p class="text-muted"><%= blog.description %></p>
            <a href="/" class="my-2 btn btn-secondary">Home</a>
            <a href="/blog/edit/<%= blog.id %>" class="btn btn-info">Edit</a>
            <a href="/blog/delete/<%= blog.id %>" class="btn btn-danger">Delete</a>
            <div class="my-3"><%= blog.content %></div>
        </div>
    </div>
</body>
</html>